# CSE381 Introduction to Machine Learning – Spring 2023
**Project Description**

The data used in this project will help to identify whether a person is going to recover from
coronavirus symptoms or not based on some pre‐defined standard symptoms. These
symptoms are based on guidelines given by the World Health Organization (WHO).
This dataset has daily level information on the number of affected cases, deaths and
recovery from 2019 novel coronavirus. Please note that this is a time series data and so the
number of cases on any given day is the cumulative number

In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data= pd.read_csv('..\data.csv')
training_data = data[:70]

In [5]:
training_data.describe()

,Unnamed: 0,location,country,gender,age,vis_wuhan,from_wuhan,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6,diff_sym_hos,result
count,70.000000,70.000000,70.0,70.000000,70.000000,70.000000,70.000000,70.0,70.0,70.0,70.0,70.0,70.0,70.000000,70.000000
mean,34.500000,66.242857,8.0,0.714286,45.068571,0.628571,0.285714,14.0,31.0,19.0,12.0,3.0,1.0,1.957143,0.057143
std,20.351085,39.109818,0.0,0.455016,13.127243,0.486675,0.455016,0.0,0.0,0.0,0.0,0.0,0.0,3.419618,0.233791
min,0.000000,13.000000,8.0,0.000000,18.000000,0.000000,0.000000,14.0,31.0,19.0,12.0,3.0,1.0,0.000000,0.000000
25%,17.250000,33.500000,8.0,0.000000,36.000000,0.000000,0.000000,14.0,31.0,19.0,12.0,3.0,1.0,0.000000,0.000000
50%,34.500000,53.000000,8.0,1.000000,46.000000,1.000000,0.000000,14.0,31.0,19.0,12.0,3.0,1.0,0.000000,0.000000
75%,51.750000,103.750000,8.0,1.000000,52.750000,1.000000,1.000000,14.0,31.0,19.0,12.0,3.0,1.0,3.750000,0.000000
max,69.000000,137.000000,8.0,1.000000,72.000000,1.000000,1.000000,14.0,31.0,19.0,12.0,3.0,1.0,15.000000,1.000000